/* Styles for the navigation bar */
.navbar {
  background-color: #A4C7D8;
  color: #fff;
}

.navbar-brand img {
  height: 40px;
  margin-right: 20px;
}

.nav-link {
  /* color: #fff;  // This makes the link white!!! >:( */
  margin-right: 20px;
}

.navbar-toggler-icon {
  filter: invert(1) contrast(-100%);
}

.nav-link {
  color: black;
}

/* For width smaller than 400px: */
nav #change-me img {
  content: url('../images/PortraitLogo.png');
  /* Need ../ to go back a folder */
}

/* For width 400px and larger: */
@media screen and (min-width: 800px) {
  nav #change-me img {
    content: url('../images/InlineTransparent.png');
  }
}